﻿@model IEnumerable<ToDoApplication.Models.ToDoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks Due Today</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoList)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoList!.ToDoListTitle)
            </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="bi bi-three-dots-vertical"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-controller="ToDoItemNotes" asp-action="TaskNotes" asp-route-id="@item.ToDoItemId">Notes</a>
                            </li>
                            <li>
                                <a asp-action="Edit" asp-route-id="@item.ToDoItemId">Edit</a>
                            </li>
                            <li>
                                <a asp-action="Details" asp-route-id="@item.ToDoItemId">Details</a>
                            </li>
                             <li>
                                <a asp-action="Delete" asp-route-id="@item.ToDoItemId">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
