﻿@model ToDoApplication.Models.ToDoItem

@{
    ViewData["Title"] = "Details";
}

<h1>Notes</h1>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItemNotes)
        </dt>
        <a asp-route="CreateToDoNote" asp-route-itemId="@Model?.ToDoItemId">Add</a> |

        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Note</th>
                </tr>
                @foreach (var note in Model?.ToDoItemNotes ?? Enumerable.Empty<ToDoApplication.Models.ToDoItemNote>())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => note.NoteContent)
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="bi bi-three-dots-vertical"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-Controller="ToDoItemNotes" asp-action="Edit" asp-route-id="@note.ToDoItemNoteId">Edit</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-Controller="ToDoItemNotes" asp-action="Details" asp-route-id="@note.ToDoItemNoteId">Details</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-Controller="ToDoItemNotes" asp-action="Delete" asp-route-id="@note.ToDoItemNoteId">Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="HomeController" asp-action="Index">back to List</a>
</div>
