﻿@model IEnumerable<string>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary"
       style="background-color:dodgerblue ; color:white"
       asp-route="DueTasks">
        DueTasks
    </a>
    @foreach (string toDoListStatus in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(toDoListStatus == ViewBag.SelectedToDoListStatus ? "btn-primary": "btn-outline-secondary")" style="background-color:dodgerblue; color:white"
       asp-route="toDoListStatus" asp-route-toDoListStatus="@toDoListStatus">
            @toDoListStatus
        </a>
    }
    <a class="btn btn-outline-secondary"
       style="background-color:dodgerblue ; color:white"
       asp-route="CreateList">
        <i class="fa-solid fa-house " style="color:dodgerblue"></i>
        Add ToDoList
   </a>
</div>
