﻿@model IEnumerable<ToDoApplication.Models.ToDoList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoListTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVisible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoListTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVisible)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToDoListId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ToDoListId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ToDoListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
