﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ToDoListApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/ToDoApplication.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="bg-primary text-white p-2">
        <span class="navbar-brand ml-2">
            <a asp-Controller="Home" asp-action="Index"> <i class="fa-solid fa-house " style="color:white"></i></a>

            ToDo Application
        </span>

    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="align-self-center">
            @RenderBody()

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
