﻿@using ToDoApplication.ExtensionMethods
@model ToDoList

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model?.ToDoListTitle
               <a asp-action="Tasks" asp-route-id="@Model?.ToDoListId">Tasks</a> |
               <a asp-controller="ToDoLists" asp-action="Edit" asp-route-id="@Model?.ToDoListId">Edit List</a> |
               <a asp-controller="ToDoLists" asp-action="Delete" asp-route-id="@Model?.ToDoListId">Delete List</a> |
            <span class="badge rounded-pill bg-primary text-white"
                  style="float:right">
                <small>@Model?.IsVisible.StringToListVisibillity()</small>
            </span>
        </h4>
    </div>
</div>