﻿@model ToDoListListViewModel

@{
    ViewData["Title"] = "Home Page";
}

@{
    var route = this.Model.CurrentToDoListStatus is null ? "pagination" :"toDoListStatusPage";
}
    <div class="row m-1 p-1">
        <div id="categories" class="align-self-center">
            <vc:navigation-menu />
        </div>
    </div>
@foreach (var p in Model?.ToDoLists ?? Enumerable.Empty<ToDoList>())
{
    <partial name = "_ToDoListSummary" model = "p" />
}

<div page-model="@Model?.PagingInfo" page-classes-enabled="true" page-route=@route
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-toDoListStatus="@Model?.CurrentToDoListStatus!"
     class="btn-group pull-right m-1">
</div>



