﻿@model ToDoApplication.Models.ToDoList

@{
    ViewData["Title"] = "Details";
}

<h1>Tasks</h1>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoListTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoListTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsVisible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsVisible)
        </dd>
        <dd class="col-sm-10">
            <a asp-route="CreateToDoItem" asp-route-listId="@Model?.ToDoListId"><i class="fa-solid fa-plus-circle fa-lg" style="color:black"></i></a>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoItems)
        </dt>


        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                    <th>DueDate</th>
                </tr>
                @foreach (var task in Model?.ToDoItems ?? Enumerable.Empty<ToDoApplication.Models.ToDoItem>())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => task.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => task.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => task.DueDate)
                        </td>
                        <td> 
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   <span class="bi bi-three-dots-vertical"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" asp-controller="ToDoItemNotes" asp-action="TaskNotes" asp-route-id="@task.ToDoItemId">Notes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-Controller="ToDoItems" asp-action="Edit" asp-route-id="@task.ToDoItemId">Edit</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-Controller="ToDoItems" asp-action="Details" asp-route-id="@task.ToDoItemId">Details</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-Controller="ToDoItems" asp-action="Delete" asp-route-id="@task.ToDoItemId">Delete</a>
                                    </li>
                                </ul>
                            </div>                
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
</div>
